<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactApi"
                contract="OlipsoContactApi.IContactApi" name="BasicHttpBinding_IContactApi" />
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigitalCertificateApi"
                contract="OlipsoDigitalCertificateApi.IDigitalCertificateApi"
                name="BasicHttpBinding_IDigitalCertificateApi" />
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDefRegApi"
                contract="OlipsoDefRegApi.IDefRegApi" name="BasicHttpBinding_IDefRegApi" />
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailFwdApi"
                contract="OlipsoEmailFwdApi.IEmailFwdApi" name="BasicHttpBinding_IEmailFwdApi" />
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INameWatchApi"
                contract="OlipsoNameWatchApi.INameWatchApi" name="BasicHttpBinding_INameWatchApi" />
            <endpoint address="http://localhost:55555/DomainApi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDomainApi" contract="OlipsoDomainApi.IDomainApi"
                name="BasicHttpBinding_IDomainApi" />
            <endpoint address="http://localhost:55555/CommonApi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICommonApi" contract="OlipsoCommonApi.ICommonApi"
                name="BasicHttpBinding_ICommonApi" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContactApi" closeTimeout="00:03:00"
                    openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_IDigitalCertificateApi" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_IDefRegApi" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_IEmailFwdApi" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_INameWatchApi" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_IDomainApi" />
                <binding name="BasicHttpBinding_ICommonApi" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
