/*body {width: 100%;height: 100%;margin: 0;padding: 20px;background-color: white;font: 12pt "Tahoma";}*/
/*
html,body{height:297mm;width:210mm;padding: 50px;}
* {box-sizing: border-box;-moz-box-sizing: border-box;}
.page {width: 210mm;min-height: 297mm;padding: 20mm;margin: 10mm auto;border: 1px #D3D3D3 solid;border-radius: 5px;background: white;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
.subpage {padding: 0cm;border: 5px white solid;height: 257mm;outline: 2cm white solid;}
    */

@page {
    size: A4;
    margin: 14mm;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        padding: 20mm;
    }

    .page-content {
        page-break-before: always;
    }

    .page-content {
        margin: 0px;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
    }

    .footerInfo {
        font-size: 10px;
        bottom:0px;
        clear:both;
    }

        .footerInfo p {
            margin-bottom: 0px;
            margin-top: 0px;
        }

    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }

    table, figure {
        page-break-inside: avoid;
    }

    .visible-xs {
        display: none !important;
    }

    .hidden-xs {
        display: block !important;
    }

    table.hidden-xs {
        display: table;
    }

    tr.hidden-xs {
        display: table-row !important;
    }

    th.hidden-xs, td.hidden-xs {
        display: table-cell !important;
    }

    .hidden-xs.hidden-print {
        display: none !important;
    }

    .hidden-sm {
        display: none !important;
    }

    .visible-sm {
        display: block !important;
    }

    table.visible-sm {
        display: table;
    }

    tr.visible-sm {
        display: table-row !important;
    }

    th.visible-sm, td.visible-sm {
        display: table-cell !important;
    }
}

page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    page-break-inside: avoid;
}

@media print {
    body, page[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }
}
