@model TLDTypeViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("UpdateTLDType", "Parameter", FormMethod.Post, new { @class="ajaxForm", ajaxsuccesscallback="RefreshGridAndClosePartial" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=> model.TLDTypeId)

    <div class="row px-5 pb-2">
        @Html.DomainFor().TextBoxFor(model=> model.Description).SetParentCss("col-sm-12")
        <div class="col-sm-12 text-right mt-3">
            <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Kaydet </button>
        </div>
    </div>
}



