<?xml version="1.0"?>

<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="log4net.Config" value="log4net.config" />
  <add key="log4net.Config.Wacth" value="false" />
  
  <add key="WebServisUserName" value="************" />
  <add key="WebServisPassword" value="*************" />
  <add key="WebServiceURL" value="*****************" />

  <add key="DomainMYSAppId" value="**************************" />
  <add key="ElasticSearchURI" value="******************"/>
  <add key="RedisURI" value="redis://*********************=@*****************************"/>
  
  <!--Mail Unfrastructure-->
  <add key="SMTPUserEmail" value="**************" />
  <add key="SMTPServer" value="******************" />
  <add key="SMTPPort" value="" />

  <add key="SMTPUser" value="**********" />
  <add key="SMTPPwd" value="************" />
  <add key="EnableSSL" value="true" />
  <!--Mail Unfrastructure-->

</appSettings>