<connectionStrings>
  <!--<add name="DomainDBContext" connectionString="Data Source=.;Initial Catalog=DomainDB;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="***************" connectionString="Server=tcp:*************.database.windows.net,1433;Initial Catalog=***********;Persist Security Info=False;User ID=****************;Password=****************;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>