@using Domain.Web.Models.Account
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Şifremi Hatırlat";
    Layout = "~/Views/Shared/_LayoutHosting.cshtml";
}


<div class="container_full menu"></div>

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-5">
                <h3 class="line-bottom mt-0 mb-30">Şifremi Hatırlat</h3>

                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        @Html.DomainFor().TextBoxFor(model => model.EMail).SetParentCss("col-sm-12").SetPlaceholder("E-Posta").SetTitleHidden(true)

                        <div class="col-xs-12 col-md-4 m-form p-2">
                            @Html.Domain().Button("btnForgotPassword").SetType(ButtonType.submit).SetCustomClasses("btn-xl w-100").SetTitle("Hatırlat").SetStyle(ButtonStyle.success).SetIcon("fa fa-check")
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>