@using System.Web.Optimization
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>  </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="~/App_Themes/css/aspb.error.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <style>
    </style>
</head>
<body style="background-image:url(../../App_Themes/images/errorbg.png);     
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>