@using Domain.Web.Areas.User.Models.Brand
@{
    ViewBag.Title = "DİĞER ONLINE MARKA İŞLEMLERİ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    var applicationTypes = CacheManager.GetAllApplicationTypes.Select(p => new SelectListItem
    {
        Value = p.ApplicationTypeId.ToString(),
        Text = p.Description
    });
}
@model OtherBrandApplicationViewModel
<div class="m-content" style="padding:0">
    <!--Begin::Main Portlet-->
    <div class="m-portlet">
        <!--end: Portlet Head-->
        <!--begin: Portlet Body-->
        <div class="m-portlet__body m-portlet__body--no-padding">
            <!--begin: Form Wizard-->
            <div class="m-wizard m-wizard--4 m-wizard--brand m-wizard--step-between" id="m_wizard">
                <div class="row m-row--no-padding">
                    <div class="col-xl-12 col-lg-12" style="background-color: #4d516d;">
                        <!--begin: Form Wizard Head -->
                        <div class="m-wizard__head">
                            <!--begin: Form Wizard Nav -->
                            <div class="m-wizard__nav">
                                <div class="m-wizard__steps">
                                    <div class="col-xl-4 m-wizard__step m-wizard__step--current" style="float:left;" m-wizard-target="m_wizard_form_step_1">
                                        <div class="m-wizard__step-info">
                                            <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                            <a href="@Url.Action("OtherApplicationStep1")" class="m-wizard__step-number">
                                                <span style="background-color: #e7e9f7;"><span>1</span></span>
                                            </a>
                                            <div class="m-wizard__step-label">
                                                İşlem Bilgileri
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 m-wizard__step" style="float:left;" m-wizard-target="m_wizard_form_step_2">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                                <span><span>2</span></span>
                                            </a>
                                            <div class="m-wizard__step-label">
                                                Marka Bilgileri
                                            </div>
                                            <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 m-wizard__step" style="float:left;" m-wizard-target="m_wizard_form_step_3">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                                <span><span>3</span></span>
                                            </a>
                                            <div class="m-wizard__step-label">
                                                Marka Sahibine İlişkin Bilgiler
                                            </div>
                                            <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 m-wizard__step" style="float:left;" m-wizard-target="m_wizard_form_step_3">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                                <span><span>4</span></span>
                                            </a>
                                            <div class="m-wizard__step-label">
                                                İletişim
                                            </div>
                                            <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Nav -->
                        </div>
                        <!--end: Form Wizard Head -->
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        @using (Html.BeginForm("OtherApplicationStep1", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="m-portlet">
                                <div class="m-portlet__body">
                                    <div class="row px-4 mb-3 mt-2">
                                        <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-info w-100" role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1"></i>
                                                <span></span>
                                            </div>
                                            <div class="m-alert__text">
                                                Markanızla ilgili yapmak istediğiniz işlemi seçiniz.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-4">
                                        @Html.DomainFor().DropDownListFor(m=>m.CustomerApplication.ApplicationTypeId).SetSelectList(applicationTypes)
                                    </div>
                                </div>
                                <div class="m-portlet__foot text-right">
                                        @Html.Domain().Button("btnSave").SetType(ButtonType.submit).SetIcon("fa fa-arrow-circle-right").SetIconAlignment(ButtonIconAlignment.right).SetStyle(ButtonStyle.submit).SetTitle("İleri")
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--end: Form Wizard-->
        </div>
        <!--end: Portlet Body-->
    </div>
    <!--End::Main Portlet-->
</div>