@{
    ViewBag.Title = "404 (Sayfa Bulunamadı)";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="global-overlay"><div class="overlay skew-part"></div></div>
<div class="left-part">
    <div class="content">
        <img src="~/Content/images/logo.png" alt="" class="brand-logo">
        <h1 style="color:#FF1D4D !important">Hata <span class="error-text">404</span></h1>
        <h2>Aradığınız sayfa bulunumadı...</h2>
        <br /><br />
        <a href="@Url.Action("Index", "Home", new { area = "" })" data-target="right-side" class="action-btn">Ana Sayfaya Dön</a>
    </div>
</div>

